{
  "presets": [],
  "plugins": [],
  "env": {
    "commonjs": {
      "plugins": [
        ["@babel/transform-modules-commonjs", {
          "strict": false,
          "allowTopLevelThis": true
        }]
      ]
    }
  }
}